.footer {
    font-family: 'var(--primaryFont)', sans-serif;
    height: 100%;
    width: 100%;
    padding:50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}



.section-p{
  font-family: 'Montserrat';
  /* font-style: italic; */
  font-weight: 500;
  font-size: 17px;
  margin-top: 3px;
  /* line-height: 32px; */
}

/* .footer p span {
    font-size: 24px;
} */

.footer--social {
    font-size: 25px;
    margin: 5px;
    transition: transform 0.5s;
  }
  
  .footer--social:hover {
    transform: scale(1.2);
  }
  
  .footer-small-text {
    margin-top: 5px;
  }


  @media (max-width: 900px) {
    .footer-small-text {
        display: none;
      }
  }