:root {
    font-family: 'Inter';
    /* --primaryFont: 'Poppins', sans-serif; */
    --primaryFont: 'Inter';
    /* --primaryFont: 'Raleway', sans-serif; */
}


.small-text {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
}


/* top most headings */

.heading0{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;
}

.heading1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

/* heading above paragraph */
.heading3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

/* hero section text */
.heading2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
/* hero section bold text */
.heading6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.heading4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.heading5{
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
}
/*  */
.para1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  /*  */
  .para2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* text-transform: capitalize; */
  }
  .para3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* text-transform: capitalize; */
  }


  @media (max-width: 1410px) {
    .adjust-para2-font-size {
        font-size: 16px;
    }
  }

@media screen and (max-width: 992px) {


}

@media screen and (max-width: 800px) {
 
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 400px) {

} 